[Unit]
Description=Mount /sysroot/live/filesystem.squashfs /sysroot

[Service]
ExecStart=mount /sysroot/live/filesystem.squashfs /sysroot

[Install]
WantedBy=multi-user.target
